body {
    background: #212529;
}

#user-section {
    background: white;
    color: black;
    border-radius: 2rem;
    padding: 0.5rem;
    display: inline-block;
    margin-top: 20px;
}

#navbar {
    width: 100%;
    position: fixed;
    top: 0;
}


#navbar-project {
    height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;

}

#navbar-project a {
    font-size: 1.5rem;

}

#navbar-project a:nth-child(1) {
    font-size: 1.5rem;
    margin-left: 0.8rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: gray;

}

#logout {
    background: crimson;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem;
    display: inline-block;
    margin-top: 20px;
    margin-left: 0.4rem;
}

.container-all {
    margin-top: 4rem;
    height: 100vh;
}

.container-all table:nth-child(1) {
    margin-top: 2rem;
}

@media (max-width: 1000px) {
    .container-all table:nth-child(1) {
        margin-top: 8rem;
    }

    #navbar-project {
        height: 4rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    #user-section {
        display: none;
    }

}