<!doctype html>
<html lang="en" data-bs-theme="auto">



<!-- /Images/1.jpg" -->

<body class="index-container">
    <%- include('./partials/index-nav') %>
        <h2>Check your enterd data , you made a msitake while submitting the form </h2>
        <%- include('./partials/copyright') %>
</body>




</html>