<!doctype html>
<html lang="en" data-bs-theme="auto">




<%- include('./partials/head') %>

    <body>
        <div class="container mx-auto border border-danger rounded p-4">
            <div class="row">
                <%- include('./partials/index-nav') %>
                    <h2 class="text-white">Forbiden to access , try to <a href="/auth/signin">sign-in</a>  again  </h2>


            </div>
        </div>


    </body>




</html>