<!doctype html>
<html lang="en" data-bs-theme="auto">




<%- include('./partials/head') %>

    <body>
        <div class="container mx-auto border border-danger rounded p-4">
            <div class="row">
                <%- include('./partials/index-nav') %>
                    <h2 class="text-white">Something went wrong , we are trying our best to make the system usable as
                        soon as possibile. </h2>


            </div>
        </div>


    </body>




</html>