<!doctype html>
<html lang="en" data-bs-theme="auto">

<%- include('./partials/head') %>



    <body>
    <%- include('./partials/nav') %>
            <div class="container-fluid p-0 d-flex justify-content-center container-all">
                <div class="table-container row col-12 bg-dark">
                    <table class="table table-sm table-dark rounded ">
                        <thead>
                            <tr class="d-flex justify-content-center">
                                <th scope="col">User's Dashboard</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex justify-content-center">
                                <td class="col-6">
                                    <div class="card text-dark w-100">
                                        <div class="card-body">
                                            <h5 class="card-title align-center">Edit</h5>
                                            <p class="card-text">In this section you can change your Email, Password,
                                                and
                                                Username.</p>
                                            <a href="/auth/update/<%= user._id %>"
                                                class="btn btn-info w-100 text-white">Update my
                                                data</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="d-flex justify-content-center">
                                <td class="col-6">
                                    <div class="card text-dark w-100">
                                        <div class="card-body">
                                            <h5 class="card-title align-center">Delete</h5>
                                            <p class="card-text">You can remove your personal account.</p>
                                            <a href="/auth/delete/<%= user._id %>"
                                                class="btn btn-danger w-100">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-sm table-dark rounded ">
                        <thead>
                            <tr class="d-flex justify-content-center">
                                <th scope="col">Projects' dashboard</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-flex justify-content-center">
                                <td class="col-6">
                                    <div class="card text-dark w-100">
                                        <div class="card-body">
                                            <h5 class="card-title align-center">Create Project</h5>
                                            <p class="card-text">Via this part you can create projects and manage them.
                                            </p>
                                            <a href="/projects/create" class="btn btn-success w-100">Create Project</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="d-flex justify-content-center">
                                <td class="col-6">
                                    <div class="card text-dark w-100">
                                        <div class="card-body">
                                            <h5 class="card-title align-center">List of Projects</h5>
                                            <p class="card-text">You can access all of the projects via this section.
                                            </p>
                                            <a href="/projects" class="btn btn-warning w-100 text-white">Projects</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


    </body>

</html>