<!doctype html>
<html lang="en" data-bs-theme="auto">


<%- include('./partials/head') %>
    <!-- /Images/1.jpg" -->

    <body class="index-container">

        <%- include('./partials/nav') %>
            <swiper-container class="swiper-container">
                <swiper-slide class="swiper-slide">
                    <img src="/Images/1.jpg" alt="">
                </swiper-slide>
                <swiper-slide class="swiper-slide">
                    <img src="/Images/2.jpg" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img src="/Images/3.jpg" alt="">
                </swiper-slide class="swiper-slide">
            </swiper-container>
            <table class="table table-sm table-dark">
                <thead>
                    <tr>

                        <th scope="col">User</th>
                        <th scope="col">Project</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-success">
                                <a href="/auth/update/<%= user._id %>">Edit data</a></button>
                        </td>
                        <td> <button type="button" class="btn btn-success"><a href="">Create a Project</a></button></td>


                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-danger"><a href="">Delete account</a></button>
                        </td>
                        <td> <button type="button" class="btn btn-primary"><a href="">List of Projects</a></button></td>


                    </tr>
                </tbody>
            </table>



            <%- include('./partials/copyright') %>


    </body>

</html>