<!doctype html>
<html lang="en" data-bs-theme="auto">




<%- include('./partials/head') %>

    <body>
        <div class="container mx-auto border border-danger rounded p-4">
            <div class="row">
                <%- include('./partials/index-nav') %>
                    <h2 class="text-white">This email already exist in our system try to <a href="/auth/signin"
                            class="btn btn-primary text-white ">sign-in</a> </h2>


            </div>
        </div>


    </body>