<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar-project">
    <a class="navbar-brand">SolarCalc</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav nav-items-mobile">

            <p class="nav-item nav-link" id='logout'> <a href="/">Logout ❌</a></p>

        </div>
    </div>
</nav>